@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-image: linear-gradient(
    113.3deg,
    rgba(217, 9, 27, 1) 6.9%,
    rgba(22, 68, 150, 1) 75%
  );
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  position: relative;
  display: flex;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 3.2rem -0.8rem #000000;
  overflow: hidden;
}
.player {
  text-align: center;
  height: 60rem;
  width: 47rem;
  font-size: 4rem;
  transition: all 0.75s;
  font-weight: 400;
}
.winner {
  background-color: #272727;
  color: white;
}
.name {
  position: relative;
  top: 12%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
.heading {
  word-spacing: 4px;
  letter-spacing: 1px;
}

.active-player {
  background-color: rgba(255, 255, 255, 0.6);
}

#score--0 {
  position: relative;
  top: 12%;
  font-size: 8rem;
  color: rgb(192, 53, 99);
  font-weight: 600;
}
#score--1 {
  font-weight: 600;

  position: relative;
  top: 12%;
  font-size: 8rem;
  color: rgb(192, 53, 99);
}
.score {
  background: rgb(192, 53, 99);
  font-size: 20px;
  font-weight: 600;
  color: white;
  width: 18rem;
  margin: 25rem auto;
  padding: 2rem;
  border-radius: 1rem;
}

.current--0,
.current--1 {
  font-size: 4rem;
}

.btn {
  left: 50%;
  transform: translateX(-50%);
  width: 18rem;
  padding: 1.4rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.8);
  color: rgb(65, 58, 58);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:active {
  transform: translate(-50%, 1rem);
  box-shadow: 0px 0px 29px -1.6rem #000000;
}
.btn:hover {
  letter-spacing: 1.5px;
}
.btn-new {
  position: absolute;
  top: 8%;
}
.btn-roll {
  position: absolute;
  top: 68%;
}
.btn-hold {
  position: absolute;
  top: 80%;
}
.dice-image {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 10rem;
  box-shadow: 0px 0px 3rem 0px #6d6d6d;
  animation: dice 1.5s;
}
.fa-mug-hot {
  margin-right: 1rem;
  color: rgb(150, 44, 44);
  font-size: 2.5rem;
}
.fa-dice {
  margin-right: 1rem;
  color: rgb(236, 68, 68);
  font-size: 2.5rem;
  vertical-align: middle;
}
.fa-sync-alt {
  margin-right: 1rem;
  color: rgb(223, 87, 110);
  font-size: 2rem;
  vertical-align: middle;
}

.hidden {
  display: none;
}
@keyframes dice {
  0% {
    transform: translate(-50%, -50%) rotate(-180deg);
    left: 50%;
    top: 20%;
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    left: 50%;
    top: 40%;
  }

  100% {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 425px) {
  main {
    max-width: 95%;
  }
  .btn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn-new {
    top: 15%;
  }
  .btn-hold {
    top: 85%;
  }
  .btn-roll {
    top: 92%;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
}
